body {
  font-family: $font-suisse-bp;
  @extend %description-16;
  font-weight: 300;
  // @include media('<phone') {
  //   font-size: 120px;
  // }
}

html {
  font-size: calc(100vw / 1920 * 10);
}
